<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="container">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script type="text/javascript" src="{{ "/javascript/jquery.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/javascript/bootstrap.min.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
